.facebook_icon{
	mask: url("images/icons/png/512/social-facebook-outline.png") center/contain no-repeat;
	width: 30px;
	height: 30px;
	background: white;
}
.facebook_icon{
	mask: url("images/icons/png/512/social-facebook-outline.png") center/contain no-repeat;
	width: 30px;
	height: 30px;
	background: white;
}